input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
	border: 1px solid red;
}

.selected {
	opacity: 0.5;
}

.folders{
	background-color: white;
	padding: 2%;
}

.folder {
	list-style-type:none;
	text-align: left;
	cursor: pointer;
}

.parent-folder {
	font-size: 14pt;
}

.files {
	background-color: white;
	padding: 2%;
}

.file img {
	cursor: pointer;
	opacity: 1;
	display: block;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.file:hover img {
	opacity: 0.3;
}
  
.file:hover .middle {
	opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}