<h2>Articles</h2>
<table class="articlelist" border="1">
	<thead>
		<th>Country</th>
		<th>Name</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Online</th>
	</thead>
	<tbody>
		<tr *ngFor="let article of listarticle">
			<td><a href="#/editing/countries/{{article.countryId}}">{{article.countryName}}</a></td>
			<td><a href="#/editing/articles/{{article.id}}">{{article.name}}</a></td>
			<td>{{article.created}}</td>
			<td>{{article.updated}}</td>
			<td>{{article.online}}</td>
		</tr>
	</tbody>
</table>
<a routerLink="/editing/articles/new"><button class="btn btn-success pull-right" >Write a new article</button></a>