<div class="animated fadeIn">
	<div *ngIf="!singleView">
		<p>
			<button type="button" class="btn btn-primary" (click)="singleView=true;articleId=null;">Add</button>
		</p>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Country</th>
					<th>Photo</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let article of articles">
					<td><button type="button" class="btn btn-primary"
							(click)="singleView=true;articleId=article.id;">Modify</button></td>
					<td><img src="./assets/img/flags/{{article.country}}.png"
						width="30" height="30" /></td>
					<td><img src="{{article.photo}}" width="100" height="100" /></td>
					<td>{{article.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div *ngIf="singleView">
		<p>
			<button type="button" class="btn btn-primary" (click)="singleView=false;">Back</button>
		</p>
		<farztev-article articleId="{{articleId}}"></farztev-article>
	</div>
</div>
