<h2>Albums</h2>
<table class="albumlist" border="1">
	<thead>
		<th>Country</th>
		<th>Name</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Online</th>
	</thead>
	<tbody>
		<tr *ngFor="let album of albums">
			<td><a href="#/editing/countries/{{album.countryId}}">{{album.countryName}}</a></td>
			<td><a href="#/editing/albums/{{album.id}}">{{album.name}}</a></td>
			<td>{{album.created}}</td>
			<td>{{album.updated}}</td>
			<td>{{album.online}}</td>
		</tr>
	</tbody>
</table>
<a routerLink="/editing/albums/new"><button class="btn btn-success pull-right" >Create a new album</button></a>