img {
	cursor: pointer;
	height: 300px;
	width: 300px;
}

.album {
	min-height: 500px;
	width: 100%;
}

.alert {
	margin-left: 30px;
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.show {
	display: inline;
}
.hide {
	display: none;
}